@import 'fonts.css';
@import 'all.min.css';



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --grey: #E1E1E1;
    --black: #323232;
    --white: #FFFFFF;
    --mb: 'Montserrat-Bold';
    --mr: 'Monserrat-Regular';
    --bold:#000000;
}

.container {
    max-width: 1299px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
 }
 
 body {
    background:var(--white);
 }



 /*Header start */

 .header__nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0 20px 0;
 }

 

 .header__nav::after{
    content: '';
    display: block;
    max-width: 1320px;
    width: 100%;
    height: 2px;
    background: var(--black);
    margin: 0 auto;
 }

 .header__nav-content {
    display: flex;
    align-items: center;
    column-gap: 50px;
 }

 .header__nav-links {
    display: flex;
    align-items: center;
    column-gap: 42px;
 }

 .header__nav-link {
    text-transform: capitalize;
    color: var(--black);
    font-family: var(--mr);
    font-size: 18px;
    line-height: 22px;
 }

 .header__nav-search {
    display: flex;
    align-items: center;
    column-gap: 40px;
 }
 
 .header__nav-language {
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: var(--black);
    font-family: var(--mr);
 }

 .nav-icon {
    font-size: 20px;
 }

 .header__block-items {
   display: flex;
   align-items: center;
   justify-content: space-around;
   border-radius: 10px;
   background: var(--grey);
   max-width: 526px;
   width: 100%;
   padding:  60px  119px;
   position: relative;
 }

 .header__block-text1 {
   text-transform: uppercase;
   font-size: 15px;
   line-height: 18px;
   font-family: var(--mb);
   color: var(--bold);
   max-width: 212px;
   width: 100%;
   text-align: center;
 }

 .header__block-items:nth-of-type(1)::before {
   content: '50%';
   display: block;
   color: var(--white);
   background: var(--black);
   padding: 11px 38px;
   border-radius: 10px;
   text-transform: capitalize;
   font-size: 22px;
   line-height: 27px;
   font-family: var(--mr);
   position: absolute;
   top: 10px;
   left: 8px;

 }
 .header__block-items:nth-of-type(2)::before {
   content: '20%';
   display: block;
   color: var(--white);
   background: var(--black);
   padding: 11px 38px;
   border-radius: 10px;
   text-transform: capitalize;
   font-size: 22px;
   line-height: 27px;
   font-family: var(--mr);
   position: absolute;
   top: 10px;
   left: 8px;

 }

 .header__block {
   margin-top: 40px;
   margin-bottom: 60px;
 }

 .header__block-item {
   display: flex;
   flex-direction: column;
   align-items: center;
   row-gap: 20px;
 } 

 .header__block-title {
   color: var(--black);
   font-size: 16px;
   line-height: 20px;
   font-family: var(--mr);
 }

 .header__block-text {
   font-size: 16px;
   line-height: 20px;
   color: var(--bold);
   font-family: var(--mb);
   text-transform: uppercase;
 }

 .header__block-span {
   font-size: 16px;
   line-height: 19px;
   font-family: var(--mr);
   color: var(--black);
   text-transform: uppercase;
 }

 .header__block-left {
   display: flex;
   flex-direction: column;
   row-gap: 30px;
 }



 .header__cards {
   display: flex;
   align-items: center;
   justify-content: space-around;
   max-width: 746px;
   width: 100%;
   border-radius: 10px;
   background: var(--grey);
   padding: 188px 100px;
   position: relative;
   
 }

 .header__cards::before {
   content: '50%';
   display: block;
   color: var(--white);
   background: var(--black);
   padding: 11px 38px;
   border-radius: 10px;
   text-transform: capitalize;
   font-size: 22px;
   line-height: 27px;
   font-family: var(--mr);
   position: absolute;
   top: 10px;
   left: 8px;
 }

 .header__cards-info {
   display: flex;
   flex-direction: column;
   align-items: center;
   row-gap: 29px;
 }

 .header__cards-title {
   font-size: 15px;
   line-height: 17px;
   font-family: var(--mr);
   color: var(--black);
 }

 .header__cards-text {
   font-size: 22px;
   line-height: 17px;
   text-transform: uppercase;
   font-family: var(--mb);
   color: var(--black);
 }

 .header__cards-span {
   font-size: 15px;
   line-height: 17px;
   color: var(--black);
   font-family: var(--mr);
   text-transform: uppercase;
 }

 .header__block-content {
   display: flex;
   justify-content: space-around;
   align-items: center;
   
 }

/*Header end */

/*Main start */

.main__title {
   font-size: 30px;
   line-height: 37px;
   font-family: var(--mr);
   color: var(--bold);
   letter-spacing: 2.2px;
   text-transform: uppercase;
   text-align: center;
}

.main__title::after {
   content: '';
   display: block;
   background: var(--black);
   border-radius: 0.5px;
   height: 2px;
   width: 100%;
   margin-top: 20px;
   margin-bottom: 40px;
}

.main__item {
   display: flex;
   flex-direction: column;
   align-items: center;
   row-gap: 20px;
   border-radius: 10px;
   background: var(--grey);
   max-width: 416px;
   width: 100%;
   padding-top: 72px;
   padding-bottom: 39px;
   position: relative;
}

.main__item-title {
   font-size: 20px;
   line-height: 24px;
   font-family: var(--mr);
   color: var(--black);
}

.main__item-text {
   font-size: 20px;
   line-height: 24px;
   color: var(--bold);
   font-family: var(--mb);
   text-transform: uppercase;
}

.main__item-span {
   font-size: 20px;
   line-height: 23px;
   font-family: var(--mr);
   color: var(--black);
   text-transform: uppercase;
}

.main__item-icon {
   display: flex;
   flex-direction: column;
   align-items: center;
   row-gap: 20px;
   position: absolute;
   top: 20px;
   right: 15px;
}

.main-icon {
   font-size: 20px;
   border-radius: 10px;
   background: var(--white);
   padding: 16px 15px;
   color: var(--black);
}

.main__items .main__item:nth-last-of-type(12)::before {
   content: 'NEW';
   display: block;
   color: var(--white);
   background: var(--black);
   padding: 11px 38px;
   border-radius: 10px;
   text-transform: capitalize;
   font-size: 22px;
   line-height: 27px;
   font-family: var(--mr);
   position: absolute;
   top: 10px;
   left: 8px;
}
.main__items .main__item:nth-last-of-type(11)::before {
   content: '15%';
   display: block;
   color: var(--white);
   background: var(--black);
   padding: 11px 38px;
   border-radius: 10px;
   text-transform: capitalize;
   font-size: 22px;
   line-height: 27px;
   font-family: var(--mr);
   position: absolute;
   top: 10px;
   left: 8px;
}
.main__items .main__item:nth-last-of-type(10)::before {
   content: '30%';
   display: block;
   color: var(--white);
   background: var(--black);
   padding: 11px 38px;
   border-radius: 10px;
   text-transform: capitalize;
   font-size: 22px;
   line-height: 27px;
   font-family: var(--mr);
   position: absolute;
   top: 10px;
   left: 8px;
}
.main__items .main__item:nth-last-of-type(9)::before {
   content: '10%';
   display: block;
   color: var(--white);
   background: var(--black);
   padding: 11px 38px;
   border-radius: 10px;
   text-transform: capitalize;
   font-size: 22px;
   line-height: 27px;
   font-family: var(--mr);
   position: absolute;
   top: 10px;
   left: 8px;
}
.main__items .main__item:nth-last-of-type(6)::before {
   content: '50%';
   display: block;
   color: var(--white);
   background: var(--black);
   padding: 11px 38px;
   border-radius: 10px;
   text-transform: capitalize;
   font-size: 22px;
   line-height: 27px;
   font-family: var(--mr);
   position: absolute;
   top: 10px;
   left: 8px;
}
.main__items .main__item:nth-last-of-type(5)::before {
   content: '20%';
   display: block;
   color: var(--white);
   background: var(--black);
   padding: 11px 38px;
   border-radius: 10px;
   text-transform: capitalize;
   font-size: 22px;
   line-height: 27px;
   font-family: var(--mr);
   position: absolute;
   top: 10px;
   left: 8px;
}
.main__items .main__item:nth-last-of-type(4)::before {
   content: '30%';
   display: block;
   color: var(--white);
   background: var(--black);
   padding: 11px 38px;
   border-radius: 10px;
   text-transform: capitalize;
   font-size: 22px;
   line-height: 27px;
   font-family: var(--mr);
   position: absolute;
   top: 10px;
   left: 8px;
}
.main__items .main__item:nth-last-of-type(2)::before {
   content: '10%';
   display: block;
   color: var(--white);
   background: var(--black);
   padding: 11px 38px;
   border-radius: 10px;
   text-transform: capitalize;
   font-size: 22px;
   line-height: 27px;
   font-family: var(--mr);
   position: absolute;
   top: 10px;
   left: 8px;
}

.main__items {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   align-items: center;
   gap: 10px;
}



.main__text {
   font-size: 30px;
   line-height: 37px;
   font-family: var(--mr);
   color: var(--black);
   display: flex;
   justify-content: center;
   margin-bottom: 60px;
   margin-top: 60px;
}

.main__block-left {
   position: relative;
   max-width: 636px;
   width: 100%;
   position: relative;
}

.main__block-info {
   position: absolute;
   top: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  
   border-radius: 10px;
   width: 100%;
   height: 100%;
   
}

.main__block-title {
   font-size: 22px;
   line-height: 27px;
   font-family: var(--mb);
   color: var(--white);
   max-width: 466px;
   width: 100%;
   margin-bottom: 30px;
   margin-top: 100px;
}

.main__block-description {
   font-size: 18px;
   line-height: 22px;
   font-family: var(--mr);
   color: var(--grey);
   font-variant: small-caps;
   max-width: 462px;
   width: 100%;
   margin-bottom: 100px;
}

.main-clock {
   font-size: 20px;
   color: var(--white);
}

.main__block-span {
   font-size: 16px;
   line-height: 20px;
   font-family: var(--mr);
   color: var(--white);
   text-transform: uppercase;
}

.main__block-clock {
   display: flex;
   column-gap: 10px;
   margin-right: 306px;
}

.main__block-left::before {
   content: 'Советы';
   color: var(--black);
   font-size: 20px;
   line-height: 24px;
   font-family: var(--mr);
   display: block;
   background: var(--white);
   text-transform: uppercase;
   padding: 13px 29px;
   border-radius: 8px;
   position: absolute;
   top: 15px;
   left: 15px;
}

.main__block-end {
   display: flex;
   column-gap: 24px;

}

.main__block {
   margin-bottom: 60px;
}



/*Main end */

/*Footer start */

.footer {
   background: var(--black);
   padding: 100px;
   max-width: 1920px;
   width: 100%;
}

.footer__menu-link {
   font-size: 18px;
   line-height: 22px;
   font-family: var(--mr);
   color: var(--white);
   text-transform: capitalize;
}

.footer__menu-links {
   display: flex;
   flex-direction: column;
   row-gap: 15px;
}

.footer__menu-first {
   display: flex;
   flex-direction: column;
   row-gap: 40px;
}
.footer__menu-second {
   display: flex;
   flex-direction: column;
   row-gap: 40px;
}

.footer__menu-third {
   display: flex;
   flex-direction: column;
   row-gap: 40px;
}

.footer__menu-title {
   font-size: 22px;
   line-height: 27px;
   font-family: var(--mr);
   color: var(--white);
   letter-spacing: 2.2px;
   text-transform: uppercase;
}

.footer__menu {
   display: flex;
   justify-content: space-around;
}

.footer__text {
   letter-spacing: 2.5px;
   font-variant: small-caps;
   font-size: 18px;
   line-height: 22px;
   font-family: var(--mr);
   color: var(--white);
   
}

.footer__menu-icons {
   display: flex;
   column-gap: 26px;
}

.footer-icon {
   color: var(--white);
   font-size: 30px;
}


/*Footer end */